body{
    margin: 0%;
    padding: 0%;
    animation: backwards changeimage 50s infinite;
    background-size: cover;
    background-position: center;
    background: linear-gradient(135deg, #036113,rgb(156, 165, 35),#c00303);
}
#header{
     border: 2px solid black;
     text-align: center;
     padding: 2%;
     padding-top: 2%;
     background-image: url(/progect.1/img/download\ \(29\).jpg);
     background-position: center;
     background-size: contain;
}
#a1{
    margin-right: 30%;
    text-decoration: none;
    width: 30px;
}
#a2{
    margin-right: 29%;
    text-decoration: none;
    width: 30px;
}
#a3{
    margin-left: 8%;
    text-decoration: none;
    width: 30px;
}
.a{
    padding: 1%;
    border: 1px solid black;
    background-color: rgba(10, 121, 10, 0.425);
    color: rgb(255, 254, 254);
}
.a:hover{
    background-color: rgba(10, 88, 88, 0.192);
    color: rgb(240, 240, 240);
    transition: 0.80s;
    box-shadow:0 0 10px rgb(221, 215, 215);
}
body{
    animation: backwards changeimage 30s infinite;
    background-size: cover;
    background-position: center;
}
#footer{
    padding-top: 3%;
    text-align: center;

}
#h4{
    display: inline-block;
    text-align: end;
    border: 2px solid red;
    padding-bottom: -300%;
    margin-right: 10%;
    width: 8.80%;
}
#h44{
     display: inline-block;
    text-align: end;
    border: 2px solid red;
    padding-bottom: -300%;
    margin-left: 10%;
    width: 15%;
}
.h4{
    margin-top: 0%;
    margin-bottom: 0%;
}

#div2{
    background-color: rgba(80, 54, 20, 0.24);
    height: 20%;
}

#h444{
     display: inline-block;
    text-align: center;
    border: 2px solid red;
    padding-bottom: -300%;
    margin-left: 10%;
    width: 15%;
}

.imgg{
    width: 15%;
    display: inline-block;
    margin-left: 40%;
}
.imgg:hover{
    transform: scale(1.50);
    transition: 1s;
}

.id{
     display: inline-block;
     margin-left: 0.7%;
     padding-left: 0.2%;
     padding-top: 2.4%;
     cursor: pointer;
     margin-right: 2.100%;
     border-radius: 2%;
     margin-bottom: 5%;
}
.p{
    color: rgb(255, 255, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
}

#di{
    border: 2px solid red;
    background-image: url(/progect.1/img/calter/download\ \(24\).jpg);
    display: inline-block;
    margin-left: 25%;
    padding-bottom: -100%;
    margin-top: 1%;
    margin-bottom: -100%;
    padding-left: 26%;
    padding-right: 26%;
    padding-top: 35%;
    background-position: center;
    height: -30%;
    border-radius: 3%;
}
#di:hover{
    box-shadow: 6px 6px 6px 6px rgba(7, 45, 116, 0.377);
    transition: 0.50s;
    transform: scale(1.01);
}

#ab{
    display: inline-block;
    margin-bottom: 40%;
    text-decoration: none;
    border: 2px solid rgb(27, 27, 165);
    width: 200%;
    text-align: center;
    font-size: x-large;
    color: aliceblue;
     background-size: cover;
    background-position: center;
    background: linear-gradient(135deg, #05177a, #b90606);
    border-radius: 20px;
}

#ab:hover{
  transition: 1.5s;
  background: linear-gradient(135deg, #030f53, #ad0505);
}

#bod{
    margin-left: 1%;
    display: inline;
    padding: 0%;
}

.no{
    height: 250px;
    padding: 0%;
    width:320px;
}

#video-div{
    font-size: 17px;
    margin-top: 1%;
    margin-left:2.49%;
    display: inline-block;
    margin-bottom: 3%; 
    border: 2px solid red;
    text-align: center;
    background-image: url(/progect.1/img/calter/International\ year\ of\ tourism\ 15\ \(1967\)\ -\ Ethiopia\ -\ LastDodo.jpg);
}
#video{
    width: 37%;
     background: linear-gradient(130deg, rgba(14, 4, 160, 0.815), rgba(11, 25, 218, 0.89), rgba(4, 3, 66, 0.836));
    

}

#h1{
  background:linear-gradient(100deg,rgb(189, 186, 186),rgb(125, 147, 156));
  width: 99.9%;
  margin-left: 0%;
  text-align: center;
  
}

.video:hover{
    transform: scale(1.30);
    transition: 1s;
    cursor: auto;
}

.sum{
    font-size: 120%;
    color: beige;
    width: 100%;
    background: linear-gradient(100deg, rgb(94, 89, 89), rgb(49, 48, 48));
    border-radius: 4%;
}

h3{
    background:linear-gradient(100deg,rgb(5, 37, 182),rgb(2, 23, 114)) ;
  width: 14%;
  margin-left: 42.30%;
}

#vv{
    width: 90%;
    margin: 0%;
}